:root {
  /* cores */
  --cor-de-fundo: #0a0c10;
  --primaria: #272b33;
  --secundaria: #f7df1e;
  --texto: #629ddb;
  --branco: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PressStart2P-Regular", "VT323-Regular", "Quantico-Bold",
    "Quantico-BoldItalic", "Quantico-Italic", "Quantico-Regular";
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 50px;
}

section:nth-child(even) {
  background-color: #f1f1f1;
}

h1,
h2 {
  font-weight: normal;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
